ops/ViT-Adapter
ops/release/*
ops/content/*
user/*
__pycache__/
.Ds_Store
*.pyc
.vscode/
user/*

# 폴더 유지용
!ops/release/empty.txt
!ops/content/empty.txt
!user/temp/sample_image.png
!user/user_image/empty.txt
# keys
keys.xml
