<!DOCTYPE html>
<html>
    <head>
        <title>STR - Style Transfer for Recollection</title>
        <link type="text/css" rel="stylesheet" href="../static/css/vanner_style.css">
    </head>
    <body>
        <header>
            <!--VANNER-->
            <div>
                <a href="">STR()</a>
                <nav>
                    <ul>
                        <li><a href="">Transfer</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <p>this file is for testing style of vanner</p>

        <script>
            includeHTML();
        </script>
    </body>
</html>
