<!DOCTYPE html>
<html>
    <head>
        <title>STR - Style Transfer for Recollection</title>
        <script type="text/javascript" src="../static/js/vanner_include.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/css/vanner_style.css">
    </head>
    <body>
        <header>
            <!--VANNER-->
            <div include-html="./vanner.html"></div>
        </header>

        <!--page contents-->

        <script>
            includeHTML();
        </script>
    </body>
</html>
