<!DOCTYPE html>
<html>
    <head>
        <title>STR - Style Transfer for Recollection</title>
        <link href="{{url_for('static', filename='css/vanner_style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/transfer_style.css')}}" rel="stylesheet">
        <script src="{{ url_for('static',filename='js/transfer.js') }}"></script>
    </head>
    <body>
        <header>
            <!--VANNER-->
            {% include 'vanner.html' %}
        </header>

        <!--page contents-->
        <div class = "process-container">
            <div class ="step-status">
                <span class = "step active" onclick="stepBack(0);">업로드 유형 선택</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = " step" onclick="stepBack(1);">사진 업로드</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step" onclick="stepBack(2);">화풍 유형 선택</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step" onclick="stepBack(3);">화풍 선택</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step" onclick="stepBack(4);">Style transfer</span>
                <img src="../../static/images/vector_next_triangle.png" width="8" height="16">
                <span class = "step">결과 확인</span>
            </div>
        </div>

    </body>
</html>