<!DOCTYPE html>
<html>
    <head>
        <title>STR - Style Transfer for Recollection</title>
        <link href="{{url_for('static', filename='css/banner_style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/transfer_style.css')}}" rel="stylesheet">
        <script src="{{ url_for('static',filename='js/transfer.js') }}"></script>
        <link href="{{url_for('static', filename='css/wait.css')}}" rel="stylesheet">
    </head>
    <body>
        <header>
            <!--BANNER-->
            {% include 'banner.html' %}
        </header>
        {% include 'transfer/process_bar.html' %}
        <CENTER>
        <img class="rotating-image-clockwise", src="{{url_for('static',filename='images/transfer/Loading.png')}}">
        </CENTER>
        <p class="wait_text">잠시만 기다려주세요</p>
    </body>
</html>