<!DOCTYPE html>
<html>
    <head>
        <title>STR - Style Transfer for Recollection</title>
        <link href="{{url_for('static', filename='css/banner_style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/community_style.css')}}" rel="stylesheet">
        <script src="{{url_for('static', filename='js/community.js')}}"></script>
    </head>

    <body>
        <header>
            <!--BANNER-->
            {% include 'banner.html' %}
        </header>

        <!--page contents-->
        <section class="search_and_sort">
            <form class="board_search_form" action="/community" method="get">
                <input class="search_text" type="search" name="search_text" value={{search_text}}>
                <input class="search_submit" type="image" src="../../static/images/community/vector_search.png" alt="Submit">
            </form>
            
            <form class="board_sort_form" action="/community" method="get">
                <select onchange="this.form.submit()" name="select_order">
                    <option value="recent" selected>최신순</option>
                    <option value="like">인기순</option>
                    <option value="comment">댓글순</option>
                </select>
            </form>
        </section>
        
        <hr>
        
        <section>
            <div class="boards"></div>
        </section>

        <footer>
            <div class="to_top" onclick="to_the_top()">Top</div>
        </footer>

        <script>
            board_data = {{ board_data|safe }}
            load_boards();
        </script>
    </body>
</html>
